.content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

.button{
    margin-top: 0.5rem;
    max-width: 100%;
}
form{
    align-self: stretch;

}
.container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 800px;
}

@media only screen and (min-width: 768px) {
    .container{
        align-self: center;
    }
    .button{
        max-width: 318px;
    }
}