.list{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 1;
}
.container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    max-width: 255px;
}

.card >img{
    border-radius: 0.5rem;
    max-height: 180px;
    object-fit: cover;
    aspect-ratio: 2/2;
}