{% extends 'base.html.twig' %}

{% block title %}Recipe List{% endblock %}

{% block body %}
    <h1 class="title">Recipe List</h1>

    <form method="get">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort" onchange="this.form.submit()">
            <option value="created_at_desc"{% if sort == 'created_at_desc' %} selected{% endif %}>Newest first</option>
            <option value="created_at_asc"{% if sort == 'created_at_asc' %} selected{% endif %}>Oldest first</option>
        </select>
    </form>

    <div class="recipe-list">
        {% for recipe in recipes %}
            <div class="recipe-card">
                <div class="recipe-card-content">
                    <h5 class="recipe-title">{{ recipe.content }}</h5>
                </div>
            </div>
        {% else %}
            <p>No recipes found.</p>
        {% endfor %}
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .recipe-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        .recipe-card {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 10px;
            width: 300px;
        }

        .recipe-card-content {
            padding: 10px;
        }

        .recipe-title {
            font-size: 1.2em;
            font-weight: bold;
        }
        .title{
            text-align: center;
        }

    </style>
{% endblock %}
